.appContainer {
  font-family: "Arial", sans-serif;
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center; /* Центрує контент по горизонталі */
  align-items: center; /* Центрує контент по вертикалі */
}

.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer p {
  margin: 0;
}

/* Стилі для всіх інпутів */
input {
  width: 100%; /* Займає всю доступну ширину батьківського елемента */
  max-width: 400px; /* Обмежує максимальну ширину */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Включає padding і border в ширину та висоту */
}
